main form.ais-SearchBox-form {
	padding-bottom: 1rem;
	margin-bottom: 2rem;
}

.ais-Pagination-list {
	display: flex;
    justify-content: center;
}

.ais-Pagination-list li {
	list-style: none;
	margin: 0;
}

.ais-Pagination-list li a:after {
	display: none;
}

.ais-SearchBox {
	position: relative;
}

.ais-SearchBox-reset {
	display: none;
}

.ais-SearchBox .ais-SearchBox-submit {
	background: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ais-SearchBox-loadingIndicator  {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 60px;
}

.ais-SearchBox .ais-SearchBox-submit svg {
	width: 16px;
	height: 16px;
}

.ais-Hits-item {
	padding: 0;
	list-style: none;
	margin: 0;
}

.ais-Hits-list {
	margin: 0;
	padding: 0;
}

main .hit-name a:after,
main .hit-link a:after {
	display: none;
}

.search-results-meta {
	display: flex;
	justify-content: space-between;
}
